* {
    padding:0;
    margin:0;
    font-family: 'Uchen', serif;
}

header {
    height:70px;
}
header h1{
    display: inline-block;
    float: left;
    padding: 5px 24px;
}
header h1 :hover{
    color:blueviolet;
    transition: 0.3s;
}
header ul{
    float: right;
} 
header ul li{
    padding: 18px 24px;
    display:inline-block;
}
a{
    text-decoration: none;
}
header ul li :hover{
    color:blueviolet;
    transition:0.5s;
}


.container {
    width:90%;
    margin:0 auto;
}
.container:after {
    content: '';
    display: block;
    clear: both;
}


.sidebar{
    position:fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgba(230, 27, 34, 0.8);
    transition: 0.5s;
}
.sidebar ul li :hover{
    background-color: #1B7CE5;
}
.sidebar ul li a{
    color: #fff;
}
.sidebar ul li {
    padding: 24px;
    transition: 0.3s;
    transition-property: background-color;
}


#check:checked ~ .sidebar{
    left: 0;
}


.mobile-menu{
    float: right;
    display:none;
    width: 24px;
}
.mobile-menu :hover{
    cursor: pointer;
}

#check {
    display: none;
}


@media (max-width:768px){
    .mobile-menu{
        display: block;
    }
    header ul{
        display: none;
    }
}